.title {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.desc {
  text-align: center;
  font-size: 18px;
  color: hsl(229, 8%, 60%);
  font-family: "Rubik", sans-serif;
  margin-bottom: 50px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgba(128, 128, 128, 0.1); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border-radius: 8px;
  margin: 0 20px 80px 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ttl {
  font-size: 25px;
  margin-bottom: 15px;
}
.ver {
  font-size: 17px;
  opacity: 0.5;
  margin-bottom: 20px;
}
.bgimg {
  background-image: url(../../assets/images/svg/bg-dots.svg);
  background-repeat: repeat;
  width: 100%;
  height: 4px;
  margin-bottom: 30px;
}
.btn {
  width: 70%;
  background-color: hsl(231, 69%, 60%);
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-bottom: 30px;
  color: white;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

@media (min-width: 768px) {
  .title {
    margin-top: 150px;
    font-size: 40px;
  }
  .desc {
    font-size: 24px;
    max-width: 500px;
    margin: 0 auto;
    color: hsl(229, 8%, 60%);
  }
  .boxPosition {
    width: 80%;
    margin-top: 80px;
    margin: 80px auto 140px auto;
    margin-bottom: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box {
    width: 80%;
  }
  .box:last-child {
    margin-top: 90px;
    margin-bottom: 0px;
  }
  .box:nth-child(2) {
    margin-top: 45px;
    margin-bottom: 35px;
  }
}
